.Rproj.user
.Rhistory
.RData
.Ruserdata

analysis_reports/*/*cache
analysis_reports/*/*.rds

Transcripts/*.gz

indexes/*index

Sequencing_results/*/*.fastq.gz
Sequencing_results/*/split_transcript_reads
Sequencing_results/*/salmon_alignment
